numpy<1.17; python_version<'3.5'
numpy==1.17; python_version=='3.5'
numpy>1.17; python_version>'3.5'
pytest
wheel

numpy~=1.21.5
matplotlib~=3.5.3
mayavi~=4.7.1
rich~=12.5.1
setuptools~=63.4.1
readline~=8.1.2
future~=0.18.2